/***********************************************
GENERAL
************************************************/

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f8f8f8;
}

p {
  font-weight: normal;
  color: #909090;
  text-align: center;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #383838;
}

#wrapper-01,
#wrapper-02 {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 5%;
}

h1 {
  text-align: center;
  color: #383838;
  font-size: 1.5em;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #383838;
  font-size: 1em;
  padding: 50px 0 50px;
  margin-bottom: -35px;
}

h3 {
  text-align: center;
  font-size: 1.1em;
  color: #383838;
}

.introduction {
  font-size: 1.1em;
  color: #909090;
  text-align: center;
  margin-bottom: 30px;
}

/***********************************************
HEADING
************************************************/

.profile-image {
  display: block;
  border-radius: 50%;
  border: #909090 solid 3px;
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 30px auto;
}

/***********************************************
NAVIGATION
************************************************/

#main-header,
.nav {
  display: flex;
  flex-direction: column;
}

.nav {
  margin: 1.5em 1em 0;
  list-style: none;
  padding: 0;
}

.nav a {
  display: block;
  background-color: white;
  color: #383838;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 3px 0;
}

.nav a:hover {
  color: white;
}

/***********************************************
PORTFOLIO
************************************************/

#portfolio {
  background-color: white;
  padding-bottom: 30px;
}

#gallery {
  list-style: none;
  text-align: center;
  padding: 0;
}

#gallery p {
  font-size: 1.1em;
  padding: 0 10px;
}

#gallery li {
  display: block;
  padding: 0 15px;
}

#gallery img {
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
}

/***********************************************
SKILLS
************************************************/

#skills p {
    font-size: 1.1em;
    color: #909090;
    text-align: center;
    margin-bottom: 30px;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #36acd0;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #e0ab26;
}

/***********************************************
CONTACT
************************************************/

#contact p {
  font-size: 1.1em;
}

.contact-info {
  text-align: center;
  margin: 40px 0 0;
  padding: 0;
}

.contact-info li {
  margin: 30px auto 0;
  font-size: 1em;
  list-style: none;
}

.phone::before {
  content: "Phone";
  color: #909090;
  padding-right: 20px;
}

.email::before {
  content: "Email";
  color: #909090;
  padding-right: 20px;
}

/***********************************************
FOOTER
************************************************/

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  border-top: 1px solid #c0c0c0;
}

#footer li,
#footer a {
  color: #36acd0;
}

#footer a:hover {
  color: #383838;
}

.footer-name-top {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0;
  color: #383838;
  font-size: .8em;
  font-weight: bold;
  justify-content: space-between;
  align-self: center;
}

.top {
  display: inline-block;
  text-transform: uppercase;
  float: right;
}

.footer-nav {
  display: none;
}

/***********************************************
MEDIA QUERIES FOR TABLET
************************************************/

@media (min-width: 768px) {
  #main-header {
    margin-top: 2em;
  }
  .nav {
    flex-direction: row;
    justify-content: center;
    background-color: #36acd0;
    padding: 5px;
    margin: .7em auto 0;
    border-radius: 2px;
  }
  .nav a {
    margin: 0 1em;
    font-size: .8em;
    color: white;
    background-color: transparent;
  }
  .nav a:hover {
    color: #383838;
  }
  #main-intro {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .profile-image {
    float: right;
    margin-right: 6em;
  }
  .introduction {
    float: left;
    max-width: 55%;
    font-size: 1.2em;
    text-align: left;
    margin-left: 0;
  }
  #portfolio {
    clear: both;
  }
  #gallery {
    max-width: 95%;
    margin: 0 auto;
  }
  #gallery li {
    display: inline-block;
    float: left;
    width: 50%;
    padding: .4em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #gallery li:nth-child(2n+1) {
    clear: left;
  }
  #gallery img {
    margin-bottom: 0;
  }
  #skills p,
  #contact p {
    width: 75%;
    margin: 1em auto;
    font-size: 1.2em;
  }
  #contact {
    clear: both;
  }
  .contact-info li {
    margin: 15px auto 0;
  }
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }
  #footer li {
    margin: 0 1.5em;
  }
  .footer-name-top {
    padding: 0;
  }
  .top {
    display: none;
  }
  .footer-nav {
    display: flex;
    list-style: none;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
  }
  .footer-nav li {
    margin-left: .65em;
    margin-right: .65em;
  }
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }
}

/***********************************************
MEDIA QUERIES FOR DESKTOP
************************************************/

@media (min-width: 1024px) {
  #main-header {
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }
  .nav {
    align-self: center;
    margin: .7em 1em 0;
  }
  .profile-image {
    margin-bottom: 50px;
  }
  #gallery li {
    width: 28.3333%;
    float: none;
    vertical-align: top;
  }
  #gallery li:nth-child(3n+1) {
    clear: left;
  }
  #gallery p {
    height: 90px;
  }
  #skills p,
  #contact p {
    width: 57%;
  }
}
